<% @products.each do |product| %>
  <div class="block block-small">
    <%= image_tag product.img :medium %><br>
    <%= product.title %><br>

    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
  <br>
<div>
  <%= link_to 'New Product', new_product_path %>
</div>
